

<footer class="text-center text-dark mt-4" style="background: linear-gradient(to right, #a1ffce, #faffd1);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-dark">
          <span class="me-3">Register On Rello for free!</span>
         <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-outline-secondary btn-rounded" %>
         
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © <%= Date.today.year %> Copyright:
      <a class="text-dark" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>



