

<div class="card mt-3" id="<%= dom_id board %>">
  <div class="card-header" style="background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);">
  <h5><%= board.name.capitalize %> <span class="badge bg-info"><%= link_to image_tag('logo-sm.png'), root_path, class: 'logo-sm' %></span></h5>
  </div>
  <div class="card-body" >
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <%= link_to board_path(board), class: 'btn btn-outline-success' do %>
      View Board
    <% end %>
  </div>
</div>
