
<div class="row mb-3">
  <div class="col-sm-6">
 
<h2>My Boards <span class="badge bg-warning"><%= image_tag avatar_path(current_user, size: 40), height: 32, width: 32, class: "rounded" %></span></h2>
</div>



  <div class="col-sm-6 text-end">
  <%= link_to new_board_path, class: 'btn btn-success mb-3' do %>
    Add New Board
  <% end %>
  </div>
</div>

 <div class="row mb-3 mt-3">
    <% @boards.each do |board| %>
      <div class="col-sm-6 col-md-6 col-lg-6">
     <%= render board %>
        <%= link_to board_path(board), class: 'btn btn-outline-primary btn-sm mt-3' do %>
      View Board
    <% end %>
      </div>
    <% end %>
  </div>



    



      
