<h2>Board <%= @board.name.capitalize %> <span class="badge bg-warning"><%= link_to image_tag('logo-sm.png'), root_path, class: 'logo-sm' %></span></h2>
<%= render @board %>

<%= link_to boards_path, class: 'mt-4 mb-3 btn btn-success' do %>
    All Boards
<% end %>

